{% extends 'base.html' %}
{% block title %}Neighborhood Lost Pets Dashboard{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="#">  <!-- To handle the favicon.ico 404 error -->
    <link rel="stylesheet" href="/static/css/maps.css"/>

    <script src="/static/js/map.js"></script>
    <script 
        async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeDkSlpBZoTC5TToXy1tW3hehvfM3xWHQ&callback=initMap">
    </script>
{% endblock %}

{% block body %}
    <header>
        <div>
            <h1>Neighborhood Lost Pets</h1>
            <!-- <h3>A community of pet lovers in your neighborhood</h3> -->
            <h2>
                {% if current_user.is_authenticated %}
                Welcome, {{ current_user.fname }}!
                {% endif %}
            </h2>
        </div>
    </header>

    <main>
        <section class="lost-pet-form">
            <h3>Did you lose your pet? Please fill out this form</h3>
            <form>
                <p>(TODO: Add form here)</p>
            </form>
        </section>
        
        <section class="marker-map">
            <h3>To find a lost pet, please click below</h3>
                <p>(TODO: Add marker/pin with information)</p>

            <div id="map"></div>
        </section>
    </main>

    <br>
    
    <footer>
        <section>
            <form action=/logout>
                <label for="logout-submit">Are you ready to logout?</label>
                <br><br>
                <input type="submit" value="Logout" name="logout" id="logout-submit"></p>
            </form>
        </section>
    </footer>

  
{% endblock %}