{% extends 'base.html' %}
{% block title %}Find Lost Neighborhood Pets{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="#">  <!-- To handle the favicon.ico 404 error -->
    <link rel="stylesheet" href="/static/css/map.css"/>

    <!-- For map code referencing map.js -->
    <script src="/static/js/map.js"></script>
    <!-- <script src="/static/js/map_test.js"></script> -->

    <!-- For Google maps API key and callback to initMap -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeDkSlpBZoTC5TToXy1tW3hehvfM3xWHQ&callback=initMap"></script>
    
    
{% endblock %}

{% block body %}

    <!------------------------------------------>
    <!-----  Welcome Body of Dashboard page ---->
    <!------------------------------------------>

    <header align=center>
        <h2>
            {% if current_user.is_authenticated %}
            Welcome, {{ current_user.fname }}
            {% endif %}
        </h2>
    </header>

    <br><hr> <!-- Placeholder until css -->

    <!------------------------------------------>
    <!------  Main Body of Dashboard page ------>
    <!------------------------------------------>
    <main>

        <div class="container">
            <div class="row">
                <div class="col">
                    <!-------------------------------->
                    <!------- Lost Pet Section ------->
                    <!-------------------------------->
                    <section class="lost-pet" align=center>
                        <h3>Did you lose your pet?</h3>
                        <h4>Register your pet here</h4>
    
                        <div class="lost-pet-update">
                            <button type="button" class="btn btn-warning" id="register-button">
                                <a href="/pet_register">Fill out this form</a>
                            </button>
                        </div>
    
                        <h5><i>Marker of your pet's last seen location will be placed on the map</i></h5>
                    </section>
                </div>
    
                <hr> <!-- Placeholder until css -->
    
                <div class="col">
                    <!-------------------------------->
                    <!------- Found Pet Section ------>
                    <!-------------------------------->
                    <section class="found-pet" align=center>
                        <h3>Did you find your pet?</h3>
                        <h4>Update pet status here</h4>
    
                        <div class="found-pet-update">
                            <button type="button" class="btn btn-warning" id="register-button">
                                <a href="/pet_owner">Click here to update</a>
                            </button>
                        </div>
    
                        <h5><i>Marker for found pets will be removed from the map </i></h5>
                    </section>
                </div>
            </div>
        </div>

    
        <hr> <!-- Placeholder until css -->

        <!-------------------------------->
        <!---- Find Lost Pets on Map ----->
        <!-------------------------------->
        <div class="col">
            <section class="pet-address" align=center>
                <h3>Find lost pets in your neighborhood?</h3>
                <h4>Enter your location or address</h4>

                <div class="geocode-pet-address">
                    <input id="address" type="textbox" value="San Francisco, CA" />
                    <input class="submit-button" id="geo_btn" type="button" value="Submit" />
                    <button id="locate-me">or Locate me!</button>
                </div>

                <h5 align=center><i>Click the markers on the map for lost pets information</i></h5>
            </section>
        </div>

        <!----------------------------------------->
        <!------ Display Dark Mode Section -------->
        <!------------------------------------------>
        <!-- TODO: This as is will cause a race condition for map display  -->

        <!-- <div class="page-dark-mode"> 
            <style>
                .dark-mode {
                    background-color: black;
                    color: grey;
                }
            </style>

            <script>
                function myFunction() {
                    var element = document.main;
                    element.classList.toggle("dark-mode")
                }
            </script>

            <button data-bs-toggle="button" onclick="myFunction()">
                Toggle dark mode
            </button>
        </div> -->

        <!------------------------------------------>
        <!------ Display Night Mode Section -------->
        <!------------------------------------------>

        <div class="map-night-mode" align=center>
            <button id ="custom-style">
                Click for Night Mode
            </button>
        </div>

        <br> <!-- Placeholder <br> until css -->

        <!------------------------------------------>
        <!----------- Display Map Section ---------->
        <!------------------------------------------>

        <div class="map-section">
            <section class="marker-map" align=center>
                <div class="map">
                    <div id="map"></div>
                </div>
            </section>
        </div>

        <br> <!-- Placeholder <br> until css -->

        <!------------------------------------------>
        <!----------- Logout User Section ---------->
        <!------------------------------------------> 

        <div class="logout-section">
            <section>
                <form action=/logout>
                    <label for="logout-submit">Ready to logout?</label>
                    <br><br>
                    <input type="submit" value="Logout" name="logout" id="logout-submit"></p>
                </form>
            </section>
        </div>
            
    </main>
    
{% endblock %}