{% extends 'base.html' %}
{% block title %}Find My Pet Homepage{% endblock %}

{% block body %}

  <h1>Welcome to Find My Pet!</h1>
    <div class="sign-in-up-window" id="sign-in-up">
        <div class="sign-in-prompt">
            <h4><label>Sign In</label></h4>
            <button id="sign-in-button">
                <a href="/signin">Sign In</a>
            </button>
        </div>

        <div class="sign-up-prompt">
            <h4><label>Sign Up</label></h4>
            <button id="sign-up-button">
                <a href="/signin">Sign Up</a>
            </button>
        </div>
    </div>

{% endblock %}
