{% extends 'base.html' %}
{% block title %}Find My Pet Homepage{% endblock %}

{% block body %}

  <h1>Find My Pet</h1>
    <div class="signup-signin-window" id="signup-sign-in-window">
        <div class="signup-form">
            <form action="/signup" method="POST">
                <h3><label>Sign Up</label></h3>
                <div>
                    <p>
                        <label for="name-input">Name:</label>
                        <input type="text" placeholder="Full Name" name="fullname" id="name-input" />
                    </p>
                    <p>
                        <label for="email-input">Email:</label>
                        <input type="email" placeholder="Email" name="email" id="email-input" />
                    </p>
                    <p>
                        <label for="password-input">Password:</label>
                        <input type="password" placeholder="Password" name="password" id="password-input" />
                    </p>
                </div>
                <p>
                    <input type="submit" value="Sign Up"  />
                </p>
            </form>
        </div>

        <div class="signin-form">
            <form action="/signin" method="POST">
                <h3><label>Sign In</label></h3>
                <div>
                    <p>
                        <label for="email-input">Email:</label>
                        <input type="email" placeholder="Email" name="email" id="email-input" required />
                    </p>
                    <p>
                        <label for="password-input">Password:</label>
                        <input type="password" placeholder="Password" name="password" id="password-input" required />
                    </p>
                </div>
                <p><input type="submit" value="Sign In"></p>
            </form>
        </div>
    </div>

{% endblock %}
