{% extends 'base.html' %}
{% block title %}Find Lost Neighborhood Pets Splash Page{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block body %}
    <header>
        <!-- Welcome Section -->
        <section class="splash-header">
            <h2 align=center>Welcome!</h2>
        </section>
    </header>

    <main>
        <!-- Login | Register Splash Section -->
        <section align=center class="splash-window">

            <div class="login-prompt">
                <h4><label>Login</label></h4>

                <button id="login-button">
                    <a href="/login">Login</a>
                </button>
            </div>
    
            <div class="register-prompt">
                <h4><label>Register</label></h4>

                <button id="register-button">
                    <a href="/register">Register</a>
                </button>
            </div>

        </section>
    </main>

{% endblock %}