{% extends 'base.html' %}
{% block title %}Map{% endblock %}

{% block head %}
    <script src="/static/js/map.js"></script>
    <script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeDkSlpBZoTC5TToXy1tW3hehvfM3xWHQ&callback=initMap">
    </script>

    <!-- To handle the favicon.ico 404 error -->
    <link rel="shortcut icon" href="#">

    <style>
        .map, #map {
            height: 700px;
            width: 100%;
        }
    </style>

{% endblock %}

{% block body %}

    <h1>Map</h1>

    <div id="button-layer">
        <button id="btnAction" onClick="locate()">Set Current Location</button>
    </div>

    <!-- <br> placeholder until css -->
    <br><br> 

    <section class="map">
        <div id="map"></div>
    </section>

{% endblock %}
