{% extends 'base.html' %}
{% block title %}Sign in page{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block body %}

    <!---------------------------------->
    <!--------- Welcome Header --------->
    <!---------------------------------->

    <header align=center>
        <!-- Welcome Section -->
        <section class="login-header">
            <h2>
                {% if current_user.is_authenticated %}
                {{ current_user.fname }}'s' <i>My Pets</i> page!
                {% endif %}
            </h2>
            <h4>For all things your pets</i></h4>
        </section>
    </header>

    <hr>

    <main align=center>

        <!------------------------------------------->
        <!-------- Update Pet Status (Found) -------->
        <!------------------------------------------->

        <section class="pet-found-form">
            <h3>Did you find your lost pet?</h3>
            <h5>Awesome! Let's update your pet's status here:</h5>
            <div class="pet-form">
                <form action="/pet_owner" method="POST">
                    <div>
                        <label for="email-input" class="form-label">Email</label>
                        <input type="email" placeholder="Email" name="email" id="email-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-name-input" class="form-label">Pet Name</label>
                        <input type="text" placeholder="Pet Name" name="pet-name" id="pet-name-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-status" class="form-label">Pet Status</label>
                        <!-- <input type="text" placeholder="Pet Type" name="pet-type" id="pet-type-input" /> -->
                        <select name="pet-status" id=pet-status>
                            <option value="found">Found</option>
                            <option value="lost">Lost</option>
                        </select>
                    </div><br> <!-- Placeholder <br> until css -->

                    <button type="submit" value ="Submit" class="btn-pet">Submit Form</button>
                </form>
            </div>
        </section>

        <br>
        <hr>

        <!------------------------------------------->
        <!--------- Pet Information Section --------->
        <!------------------------------------------->

        <section class="pet-form">
            <div class="pet-form">
                <h4>Section to display information about pet owner's register pets</h4>
                <p>TODO: Placeholder. Add info here</p>
            </div>
        </section>

    </main>

{% endblock %}