{% extends 'base.html' %}
{% block title %}Sign in page{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block body %}

    <br> <!-- <br> placeholder until CSS-->

    <header align=center>
        <!-- Welcome Section -->
        <section class="login-header">
            <h1>Welcome!</h1>
            <h3>Please register your pet</h3>
        </section>
    </header>

    <main align=center>
        <!-- Pet Registration Section -->
        <section class="pet-form">
            <div class="pet-form">
                <form action="/pet_register" method="POST">
                    <div>
                        <label for="fname-input" class="form-label">First Name</label>
                        <input type="text" placeholder="First Name" name="fname" id="fname-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="email-input" class="form-label">Email</label>
                        <input type="email" placeholder="Email" name="email" id="email-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="phone-input" class="form-label">Phone</label>
                        <input type="text" placeholder="Phone Number" name="phone" id="phone-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-name-input" class="form-label">Pet Name</label>
                        <input type="text" placeholder="Pet Name" name="pet-name" id="pet-name-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-type-input" class="form-label">Pet Type</label>
                        <input type="text" placeholder="Pet Type" name="pet-type" id="pet-type-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-breed-input" class="form-label">Pet Breed</label>
                        <input type="text" placeholder="Pet Breed" name="pet-breed" id="pet-breed-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-gender-input" class="form-label">Pet Gender</label>
                        <input type="text" placeholder="Pet Gender" name="pet-gender" id="pet-gender-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-color-input" class="form-label">Pet Color</label>
                        <input type="text" placeholder="Pet Color" name="pet-color" id="pet-color-input" />
                    </div><br> <!-- Placeholder <br> until css -->

                    <div>
                        <label for="pet-image-input" class="form-label">Pet Image</label>
                        <input type="text" placeholder="Link to image" name="pet-image" id="pet-image-input" />
                    </div><br>

                    <div>
                        <label for="last-address-input" class="form-label">Last Address</label>
                        <input type="text" placeholder="Last Seen Address" name="last-address" id="last-address-input" />
                    </div><br>

                    <button type="submit" value ="Submit" class="btn-pet">Submit Form</button>
                </form>
            </div>
        </section>
    </main>

{% endblock %}