{% extends 'base.html' %}
{% block title %}Sign in page{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block body %}

  <header>
    <br>
    <!------------------------------------------>
  <!--------- Navigation Bar Sectiom --------->
  <!------------------------------------------>
    <nav class="navbar navbar-expand-md navbar-custom-theme">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navExpandContent"
        />
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navExpandContent">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="navExpandContent">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
            </div>
          </div>
        <div class="navbar-collapse collapse" id="navExpandContent">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/pet_register">Lost My Pet</a>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="navExpandContent">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/pet_owner">Found My Pet</a>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="navExpandContent">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/register">Sign-up</a>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="navExpandContent">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
          </div>
        </div>
        <div class="navbar-collapse collapse" id="navExpandContent">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </nav>

    <!------------------------------------------>
    <!-------------  Welcome Header ------------>
    <!------------------------------------------>

    <div class="pb-2 mt-4 mb-2 border-bottom" align="center">
      <h2>
          {% if current_user.is_authenticated %}
          Welcome, {{ current_user.fname }}
          {% endif %}
      </h2>
    </div>
  </header>

    <!------------------------------------------->
    <!------ Pet Registration Form Section ------>
    <!------------------------------------------->

    <main>
      <br>
      <section class="pet-form">
        <div class="row">
          <div class="col-xs-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3"> 
            <h4 align="center">Please register your lost pet</h4>

            <form action="/pet_register" method="POST">
              <div>
                <label for="email-input" class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="Enter email" name="email" id="email-input">
              </div>

              <div>
                <label for="phone-input" class="form-label">Phone Number</label>
                <input type="text" class="form-control" placeholder="415-555-1111" name="phone" id="phone-input" />
              </div>

              <div>
                <label for="pet-name-input" class="form-label">Pet Name</label>
                <input type="text" class="form-control" placeholder="Fido" name="pet-name" id="pet-name-input" />
              </div>

              <!-- <div class="col-md-4 ml-auto justify-content-center align-items-center"> -->
              <div class="col-md-4">
                <label for="pet-type-input" class="form-label">Pet Type</label>
                <select type="text" class="form-select" name="pet-type" id="pet-type-input" />
                  <option selected>Choose...</option>
                  <option>Cat</option>
                  <option>Dog</option>
                  <option>Other</option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="pet-gender-input" class="form-label">Pet Gender</label>
                <select type="text" class="form-select" name="pet-gender" id="pet-gender-input" />
                  <option selected>Choose...</option>
                  <option>Female</option>
                  <option>Male</option>
                </select>
              </div>
              
              <div class="col-md-4">
                <label for="pet-status-select" class="form-label">Pet Status</label>
                <select type="text" class="form-select" name="pet-status" id="pet-status-select" />
                  <option selected>Choose...</option>
                  <option>Lost</option>
                  <option>Found</option>
                </select>
              </div>

              <div>
                <label for="pet-breed-input" class="form-label">Pet Breed</label>
                <input type="text" class="form-control" placeholder="Golden Retriever" name="pet-breed" id="pet-breed-input" />
              </div>

              <div>
                <label for="pet-color-input" class="form-label">Pet Color</label>
                <input type="text" class="form-control" placeholder="Brown with dark spots" name="pet-color" id="pet-color-input" />
              </div>

              <div>
                <label for="pet-image-input" class="form-label">Pet Image</label>
                <input type="text" class="form-control" placeholder="Link to image" name="pet-image" id="pet-image-input" />
              </div>

              <div>
                <label for="last-address-input" class="form-label">Last Seen Location</label>
                <input type="text" class="form-control" placeholder="123 Main Street SF CA or Golden Gate Bridge" name="last-address" id="last-address-input" />
              </div>

              <br>
              <div class="col-12">
                <button type="submit" value="Submit" class="btn btn-primary">Submit Form</button>
              </div>

            </form>
          </div>
        </div>
      </section>
    </main>

{% endblock %}