{% extends 'base.html' %}
{% block title %}Sign up page{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block body %}

    <!---------------------------------->
    <!--------- Welcome Header --------->
    <!---------------------------------->

    <header align=center>
        <!-- Welcome Section -->
        <section class="register-header">
            <h1>Welcome!</h1>
            <h2>Please sign up here</h2>
        </section>
    </header>

    <main align=center>
        
        <!------------------------------------------->
        <!------ User Registration Form Section ------>
        <!------------------------------------------->

        <section class="register-form">

            <form action="/register" method="POST">
                <h4><label>Register</label></h4>
                
                <div>
                    <label for="name-input">First Name:</label>
                    <input type="text" placeholder="First Name" name="fname" id="name-input" />
                </div><br> <!-- Placeholder <br> until css -->

                <div>
                    <label for="name-input">Last Name:</label>
                    <input type="text" placeholder="Last Name" name="lname" id="name-input" />
                </div><br> <!-- Placeholder <br> until css -->

                <div>
                    <label for="email-input">Email:</label>
                    <input type="email" placeholder="Email" name="email" id="email-input" />
                </div><br> <!-- Placeholder <br> until css -->

                <div>
                    <label for="password-input">Password:</label>
                    <input type="password" placeholder="Password" name="password" id="password-input" />
                </div><br> <!-- Placeholder <br> until css -->

                <button type="submit" value ="Submit" class="btn-register">Submit</button>
            </form>

        </section>
    </main>

{% endblock %}
