{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block body %}

    <main>
      <div class="container">
      <div class="col-xs-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">

          <!---------------------------------->
          <!--------- Welcome Header --------->
          <!---------------------------------->
          <div class="pb-2 mt-4 mb-2 border-bottom" align="center">
          <h1>Welcome!</h1>
          <h3>Please sign up to register</h3>
          </div>

      </div>
      <br>

      <div class="row">
        <!---------------------------------->
        <!----- User Registration Form ----->
        <!---------------------------------->

        <!-- Using offset classes to center the column -->
        <div class="col-xs-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
          <form action="/register" method="POST">
                
            <div>
                <label for="name-input">First Name:</label>
                <input type="text" class="form-control" placeholder="First Name" name="fname" id="name-input" />
            </div>

            <div>
                <label for="name-input">Last Name:</label>
                <input type="text" class="form-control" placeholder="Last Name" name="lname" id="name-input" />
            </div>

            <div>
                <label for="email-input">Email:</label>
                <input type="email" class="form-control" placeholder="Add email for login use" name="email" id="email-input" />
            </div>

            <div>
                <label for="password-input">Password:</label>
                <input type="password" class="form-control" placeholder="Add a password" name="password" id="password-input" />
            </div>

            <br>
            <button type="submit" value ="Submit" class="btn btn-primary">Submit</button>
            <!-- <button type="submit" value ="Submit" class="btn-register">Submit</button> -->
          </form>

        </section>
    </main>

{% endblock %}
