{% extends 'base.html' %}
{% block title %}Welcome to Neighborhood Pets{% endblock %}

{% block body %}

    <h1>Welcome to Neighborhood Pets!</h1>

    <h3>A community of pet lovers in your neighborhood</h3>

    <h4>Let's register your pet</h4>

         <!-- Add form here to gather more information 
                about the pet owners and their pets -->

    <h4>Did you lose your pet or find a lost pet?</h4>

        <!-- Add link to lost-found-pets page -->

    <h4>Are you interested in play dates and/or group walks?

        Add link to the communities page


{% endblock %}